.OfferTile{
  display:block;
  border: red 2px solid;
  height: 260px;
  width: 406px;
  margin: 45px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  font-size: 30px;
} 

.Wrapper{
  background-color: rgba(25, 0, 255, 0.15);
  height: 100%;
}

.OfferTile a {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  height: 100%;
   box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.OfferTile:hover{
  opacity: 0.75;
  color: white;
}

.OfferTile a:hover{
  color: white;
}

/* .OfferTile::after {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 350%;
  height: 35px;
  background: rgba(255,255,255,0.5);
  content: '';
  z-index: 5;
  transition: all ease 0.4s;
  transform: rotate(45deg);
}

.OfferTile:hover::after {
  left: -1200px;
} */

