.dd__Header{
  background-color: #0080FF;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.dd__HeaderTitle{
  text-align: center;
  margin-right: 10px;
}

.dd_List{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 7px 4px gray;
}

.Show{
  display: block;
}

.Hide{
  display: none;
}

.NavLink{
  background: rgb(172, 198, 255);
  padding: 10px 0 10px 20px;
  cursor: pointer;
}

.NavLink:hover{
  background: rgb(255, 255, 255);
}

.Link:link{
  text-decoration: none;
}

@media(min-width: 650px){
  
  .dd_List{
    position: absolute;
    top: 100%;
  }

  .NavLink{
    padding: 10px;
  }

  .dd__Wrapper{
    display: flex;
    flex-direction: column;
  }

  .dd__Header{
    padding: 10px 20px;
  }
}