.Table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.Th{
  color: white;
  padding: 1rem;
}

.Td{
  /* border: red 1px solid; */
  text-align: center;
  padding: 1rem;
  border-bottom: 1px black solid;
}

.Thead{
  background-color: #098013;
  font-size: 1.5rem;
}

.Tbody .Tr:hover{
  background-color: #4bd356;
}

.PriceListHeader{
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #098013;
}