.ContactForm {
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.ContactFormWrapper{
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
}

.ContactTiles{
  
  margin: 20px auto;
}

@media(min-width: 600px) {
  .ContactFormWrapper{
    width: 40%;
    margin: 20px auto;
  }
}