.Footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 4px 5px -2px rgba(7, 7, 7, 0.35);
}

.FooterBottom{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: blue;
  width: 100%;
  padding: 25px 0;
}

.ContatctTile{
  margin-left: 25px;
  width: 30%;
}

.FooterElementWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  box-sizing: content-box;
  background-color: #95aae5;
  padding-bottom: 15px;
}

.Footer__Content{
  display: flex;
  align-items: center;
}

.Footer__Content__Link{
  padding: 10px;
  padding-left: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.Footer__Content__Link a{
  margin-left: 10px;
}

.Footer__Content__Text{
  margin-left: 10px;
  margin: 10px;
}

@media (max-width: 649px){
  .DesktopOnly{
    display: none;
  }
  
  .ContatctTile{
    width: 80%;
    margin: 0 auto;
  }
  
  .FooterElementWrapper{
    flex-direction: column;
    padding: 0;
    padding-bottom: 30px;
  }
}