.ContactTiles{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 15px;
}

@media(min-width: 800px){
  .ContactTiles{
  align-items: flex-start;
  }
}