.Navbar{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  /* overflow: hidden; */
}

.Navbar__topLevel__Item{
  font-size: 20px;
  margin: 0 5px;
}

.Navbar__secondLevel__Item{
  display: flex;
  flex-direction: column; 
}

.Navbar__thirdLevel__Item{
  display: block;
}

.Navbar__topLevel__NavLink,
.Navbar__secondLevel__NavLink,
.Navbar__thirdLevel__NavLink{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  white-space: nowrap;
  text-decoration: none;
}


.Navbar__Dropdown,
.Navbar__Dropdown__secondLevel{
  display: none;
  position: relative;
  list-style: none;
  padding: 0;
}

.Navbar__Dropdown__secondLevel{
  /* left: 100%; */
}

/* Open next level of nested menu */
.Navbar__topLevel__Item:hover .Navbar__Dropdown,
.Navbar__secondLevel__Item:hover .Navbar__Dropdown__secondLevel{
  /* display: flex;
  flex-direction: column;
  background-color: #CCC; */
}
/* Highlight current item */

.Navbar__topLevel__Item:hover,
.Navbar__secondLevel__Item:hover,
.Navbar__thirdLevel__Item:hover{
  background-color: lightseagreen;
}

.MobileText{
  display: flex;
  justify-content: space-between;
}

.MobileIcon{
  display: flex;
  justify-content: space-between;
}

@media (min-width: 650px) {
  .Navbar{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow: hidden;
  }

  .Navbar__topLevel__Item{
    font-size: 20px;
    margin: 0 5px;
  }
  
  .Navbar__secondLevel__Item{
    display: flex;
  }
  
  .Navbar__thirdLevel__Item{
    display: block;
  }
  
  .Navbar__topLevel__NavLink,
  .Navbar__secondLevel__NavLink,
  .Navbar__thirdLevel__NavLink{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
  }
  
  .Navbar__Dropdown,
  .Navbar__Dropdown__secondLevel{
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
  }
  
  .Navbar__Dropdown__secondLevel{
    left: 100%;
  }
  
  /* Open next level of nested menu */
  .Navbar__topLevel__Item:hover .Navbar__Dropdown,
  .Navbar__secondLevel__Item:hover .Navbar__Dropdown__secondLevel{
    display: flex;
    flex-direction: column;
    background-color: #CCC;
  }
  /* Highlight current item */
  
  .Navbar__topLevel__Item:hover,
  .Navbar__secondLevel__Item:hover,
  .Navbar__thirdLevel__Item:hover{
    background-color: lightseagreen;
  }

  /* Hide + sign while in desktop mode*/
  .MobileIcon{
    display: none;
  }
}