.Navbar{
  height: 100%;
}

.NavLink{
  background: #0063c5;
  color: white;
  padding: 10px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavLink:hover{
  background: #74b9ff;
}

.Link:link{
  text-decoration: none;
}

@media(min-width: 650px){
  .Navbar{
    display: flex;
  }
}

